.custom-button {
    display: flex;
    align-items: center;
  }
  .image{
    display: flex;
    width: 100%;
    height: 87.6vh;
    display:run-in;
    justify-content: center;
    align-items: center; 
    color: white;
    letter-spacing: 5px;
    font-size: 3rem;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right,  transparent, rgba(180, 182, 184, 0.409) ),
     url("../../../assets/fotos/user.jpg");
  }
  .text-center{
    text-align: center;
  }
  
  .cardTransp{
    position: relative;
    background-color: rgba(255, 255, 1255, 0.1);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.322);
    height: 400px;
    width: 270px;
    padding-bottom: 20px;
    padding-top: 20px;
    bottom: 20%;
  }
  .centrar{
    text-align: center;
  }

  /* Estilos para el input file */
.file-input-label {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  background-color: lightgray;
  border-radius: 20px;
}

/* Estilos para la imagen */
.image-container {
  padding: 20px;
}

.rounded-image {
  border-radius: 50%;
  width: 200px; /* Tamaño de la imagen */
  height: 200px; /* Tamaño de la imagen */
  object-fit: cover; /* Para mantener la proporción de la imagen */
}

.profile-card {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;  // Mantenemos un pequeño margen superior después del contenido previo
  margin-bottom: 40px;  // Elimina el margen inferior completamente para que el botón toque la tarjeta
}

.image-container {
  text-align: center;
  position: relative;
}

.upload-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.form-container {
  margin-top: 20px;
}

.file-input-label {
  cursor: pointer;
}

.user-info ion-item {
  --ion-item-padding-start: 0;
  --ion-item-padding-end: 0;
}
#container2{
    
  text-align: center;
  background-color: rgba(255, 255, 255, 0.622);    
  padding: 1px 2px 1px 2px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 20px;    
  left: 10px;
  right: 10px;
  bottom: 1%;
  top: 50%;
}
  

.btn {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.622);
  color: black;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px; /* Reducir el tamaño del texto */
}




.custom-header ion-title {
  color: white; /* Cambia "red" al color deseado, por ejemplo: #ff0000 para rojo */
}
.centrar2{
  position: relative;
  text-align: center;  
 
}
.logo3{
  position: absolute;
  top: 25%;
  left: 8%;
}
.div-plan-button {
  display: flex;  // Usa flexbox para el alineamiento
  justify-content: center;  // Centra el contenido horizontalmente
  align-items: center;  // Centra el contenido verticalmente
  margin-top: 0;  // Elimina el margen superior completamente
  margin-bottom: 0; // Elimina el margen inferior completamente para que el botón toque el footer

  ion-button {
    font-size: 1.2rem;  // Mantiene el tamaño original del texto
    padding: 10px 20px;  // Padding moderado para controlar el tamaño
    width: 40%;  // Establece el ancho del botón a 40% de su contenedor
    height: 80px;  // Establece una altura fija para el botón
    --border-radius: 10px;  // Bordes más redondeados
    --background: var(--ion-color-primary);  // Usa el color primario
    --color: #ffffff;  // Color del texto (blanco)
    display: flex;  // Añadido para permitir la alineación del contenido dentro del botón
    justify-content: center;  // Centra el texto horizontalmente dentro del botón
    align-items: center;  // Centra el texto verticalmente dentro del botón
    box-sizing: border-box;  // Incluye padding y borde en la medida del width/height
  }
}


