<div class="ion-page" id="main-content">
  <ion-header class="custom-header">
    <ion-toolbar class="centrar2">
      <div class="logo3">
        <img src="../../../assets/fotos/logo3.png" height="40" alt="">
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="content">
    <div class="subscription-card"> 
      <div class="card-title">Datos de tu Plan</div>
      
      <div class="info-item">
        <ion-label class="label-title" position="stacked">Tipo:</ion-label>
        <ion-label class="ion-text-wrap">  {{ info?.planType }}</ion-label> 
      </div>
      
      <div class="info-item">
        <ion-label class="label-title" position="stacked">Fecha Inicio:</ion-label>
        <ion-label class="ion-text-wrap">  {{ formattedstartDate }}</ion-label>
      </div>
      
      <div class="info-item">
        <ion-label class="label-title" position="stacked">Fecha Fin:</ion-label>
        <ion-label class="ion-text-wrap">  {{ formattedexpiryDate }}</ion-label>
      </div>
    </div> 

    <div class="metodos-card">
      <div class="card-title">Métodos de Pago</div>
      <div class="payment-buttons-container">
        <ion-button [routerLink]="['/paypal2']">
          <ion-img src="../../../assets/fotos/paypal1.png" alt="PayPal"></ion-img>
        </ion-button> 
        <ion-button [routerLink]="['/webpay2']">
          <ion-img src="../../../assets/fotos/webpay1.png" alt="WebPay"></ion-img>
        </ion-button>
      </div>
    </div>

    <div class="infoplanes-card">
      <div class="card-title">Información de Nuestros Planes</div>
      <ion-label>Mensual: $690</ion-label>
      <ion-label>Semestral: $3.600</ion-label>
      <ion-label>Anual: $6.500</ion-label>      
    </div>

  </ion-content>  

  <ion-footer>
    <ion-toolbar color="dark" style="justify-content: space-between;"></ion-toolbar>
  </ion-footer>
</div>
