ion-toolbar {
  background-color: var(--ion-color-primary);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.subscription-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
  text-align: center; // Centrar todo el contenido de la tarjeta, incluyendo el título y los datos

  .card-title {
    font-size: 1.25rem;
    margin-bottom: 40px; // Espacio después del título
    margin-top: 10px;
  }

  .info-item {
    text-align: center; // Centrar los elementos de info-item
    margin: 10px 0; // Espaciado uniforme arriba y abajo
  }

  .label-title {
    font-weight: normal;
    font-size: 1.2rem; // Tamaño de fuente más grande para los títulos
    margin-bottom: 5px; // Espacio entre el título y el contenido
    font-style: italic;
  }

  .ion-text-wrap {
    font-size: 1.2rem; // Tamaño de fuente para el contenido
    font-style: italic;
  }
}

.custom-header ion-title {
  color: white;
}

.centrar2 {
  position: relative;
  text-align: center;
}

.logo3 {
  position: absolute;
  top: 25%;
  left: 8%;
}

.metodos-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px;
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
  

  .card-title {
    font-size: 1.25rem;
    margin-bottom: 20px; // Espacio después del título
    margin-top: 10px;
    text-align: center; // Centrar todo el contenido de la tarjeta, incluyendo el título y los datos
  }
}

.payment-buttons-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  ion-button {
    --background: none;
    width: 100px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border: none;

    ion-img {
      width: 100%;
      height: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.infoplanes-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px;
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  .card-title {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  ion-label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-style: italic;
  };

    &:last-child {
      margin-bottom: 0;
    }
  }

