.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .custom-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    width: 100px; /* Ajusta el tamaño de tu logotipo */
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  