<div class="ion-page" id="main-content">
  <ion-header class="custom-header">
    <ion-toolbar class="centrar2" >
      <div class="logo3">
        <img src="../../../assets/fotos/logo3.png" alt="">
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    

     <!-- Asegúrate de que el contenedor tenga un tamaño fijo -->
     <div id="map" style="width: 100%; height: 100%;"></div>


  </ion-content>
  <ion-footer  [translucent]="true" class="ion-no-border">
    <app-footer></app-footer>
</ion-footer>
</div>

