#map {
  height: 400px; /* Tamaño en píxeles */
  width: 100%; /* Opcional: para ocupar todo el ancho disponible */
}


  .text-center{
    text-align: center;    
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
ion-toolbar{
  background-color: var(--ion-color-mycolor);
}
.centrar{
  text-align: center;
}
.imaCenter{
  text-align: center;
  position: relative;
}


.white {
  color: white; /* Cambia "red" al color deseado, por ejemplo: #ff0000 para rojo */
}

.logo3{
  position: absolute;
  top: 25%;
  left: 3%;
}



.background-opacity {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
  border-radius: 10px; /* Radio de borde del contenedor */
  padding: 10px; /* Espaciado alrededor del contenido */
}

.text-center {
  text-align: center; /* Centrar el contenido */
}

ion-input {
  position: relative; /* Posición relativa para el input */
  border-radius: 15px; /* Radio de borde para las esquinas del input */
  padding: 10px 10px 10px 40px; /* Ajuste del espaciado dentro del input */
  background-color: rgba(0, 0, 0, 0.1); /* Color de fondo opaco */
  line-height: 30px; /* Altura del input */
}

ion-icon {
  position: absolute; /* Posición absoluta para el ícono */
  left: 10px; /* Ajustar la posición del ícono a la izquierda */
  top: 50%; /* Centrar verticalmente el ícono */
  transform: translateY(-50%); /* Ajuste para centrar verticalmente */
}
.centrar2{
  position: relative;
  text-align: center;
  padding-right: 40px;
  padding-left: 20px;
  color: black;
}
