<div class="ion-page" id="main-content">
  <ion-header class="custom-header">
    <ion-toolbar class="centrar2">
      <div class="logo3">
        <img src="../../../assets/fotos/logo3.png" height="40" alt="">
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="content">
    <script src="https://www.paypal.com/sdk/js?client-id=AeHcD0RMUXJX5x0NpSuhBehcxjgHpBEuAdPzK5BJlrZI_3SRSznrXC32VVNNIr-LJUHfWTrlDFTxnAS5&currency=USD"></script>
    
    <!-- Tarjeta con los datos de suscripción -->
    <div class="subscription-card">
      <div class="card-title">Datos de Suscripción</div>
      
      <div class="info-container"> 
        <div class="info-item">
          <label for="fechaTrial">Fecha Trial:</label>
          <input type="text" id="fechaTrial" placeholder="">
        </div>

        <div class="info-item">
          <label for="tipoPlan">Tipo de Plan:</label>
          <input type="text" id="tipoPlan" placeholder="">
        </div>

        <div class="info-item">
          <label for="fechaComienzo">Fecha Comienzo de Plan:</label>
          <input type="text" id="fechaComienzo" placeholder="">
        </div>

        <div class="info-item">
          <label for="fechaTermino">Fecha Término de Plan:</label>
          <input type="text" id="fechaTermino" placeholder="">
        </div>
      </div>
    </div>
    <!-- Fin de la tarjeta de datos de suscripción -->

    <!-- Contenedor para el botón de PayPal -->
    <div id="paypal-button-container"></div>

    <div class="button-group"> 
      <button class="plan-button">PLAN MENSUAL<br>$690</button>
      <button class="plan-button">PLAN SEMESTRAL<br>$3.600</button>
      <button class="plan-button">PLAN ANUAL<br>$6.500</button>
    </div> 
  </ion-content>

  <ion-footer>
    <ion-toolbar color="dark" style="justify-content: space-between;">
      <ion-buttons slot="start">
        <ion-button (click)="navigateTo('/main')">
          <ion-icon name="home-outline" style="font-size: 30px;"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <div style="display: flex; justify-content: center; align-items: center;">
        <ion-buttons slot="primary">
          <ion-button (click)="navigateTo('/buscar')">
            <ion-icon name="search-outline" style="font-size: 30px;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
  
      <ion-buttons slot="end">
        <ion-button (click)="navigateTo('/perfil')">
          <ion-icon name="person-outline" style="font-size: 30px;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</div>
