ion-toolbar {
  background-color: var(--ion-color-primary);
}

.logo-container {
  text-align: center;
  margin-top: 60px; /* Aumentado para bajar el logo y dar más espacio con respecto al header */
}

.logo {
  max-width: 100%;
  max-height: 100%;
}
 
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px 0;
}

.info-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

  label {
    font-weight: normal; /* Labels sin negrita */
  }

  input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white; /* Fondo blanco de las cajas de texto */
    color: black; /* Color de texto negro para las cajas de texto */
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}

.plan-button {
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #f8f8f8;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
  }
}
#paypal-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 50%; // Establece el ancho al 50% del contenedor padre
  max-width: 200px; // O establece un ancho máximo fijo para un mayor control
  margin: 20px auto; // Centra el contenedor con un margen superior de 20px
}


