ion-toolbar {
  background-color: var(--ion-color-primary);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.subscription-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
}

.card-title {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  label {
    font-weight: normal;
    width: 30%;
    text-align: right;
    padding-right: 10px;
  }

  input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    color: black;
    width: 65%;
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}

.plan-button {
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #f8f8f8;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
  }
}

#paypal-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 50%;
  max-width: 200px;
  margin: 20px auto;
}

.custom-header ion-title {
  color: white;
}

.centrar2 {
  position: relative;
  text-align: center;
}

.logo3 {
  position: absolute;
  top: 25%;
  left: 8%;
}

.centrar {
  text-align: center;
  padding-top: 10px;
}

.card-selection {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-selection-title {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.plan-options {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;

  input[type="radio"] {
    accent-color: var(--ion-color-primary);
    margin-bottom: 5px;
    background-color: white;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:checked {
      background-color: var(--ion-color-primary);
      border-color: var(--ion-color-primary);
    }

    &:checked::after {
      content: '';
      display: block;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      background-color: white;
    }
  }

  label {
    text-align: center;
    font-size: 0.95rem;
    cursor: pointer;
  }
}
.payment-card {
  background-color: white; // Fondo blanco para la tarjeta
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Sombra para el efecto 3D
  border-radius: 10px; // Bordes redondeados
  padding: 20px; // Espaciado interno
  width: 80%; // Ancho de la tarjeta
  max-width: 500px; // Ancho máximo para que no sea demasiado grande en pantallas grandes
  margin: 30px auto; // Centra la tarjeta con márgenes automáticos y un margen superior para separación
}

.payment-card-title {
  text-align: center; // Centra el texto del título
  font-size: 1.25rem; // Tamaño de letra para el título
  margin-bottom: 20px; // Margen inferior para separarlo de los elementos de la tarjeta
}

.payment-options {
  display: flex;
  justify-content: space-around; // Distribuye las opciones de pago uniformemente
  width: 100%; // Utiliza todo el ancho disponible
}

.payment-option {
  display: flex;
  flex-direction: column;
  align-items: center;

  input[type="radio"] {
    accent-color: var(--ion-color-primary); // Color del radio button, elige uno que combine
    margin-bottom: 10px; // Espacio entre el radio button y su contenido
    -webkit-appearance: none; // Elimina la apariencia predeterminada para navegadores basados en WebKit
    appearance: none; // Elimina la apariencia predeterminada para el resto de navegadores
    width: 20px; // Ancho del radio button
    height: 20px; // Alto del radio button
    border-radius: 50%; // Radio buttons circulares
    border: 1px solid #ccc; // Borde del radio button
    background-color: white; // Fondo blanco para el radio button
    display: flex;
    justify-content: center;
    align-items: center;

    &:checked::before {
      content: ''; // Contenido vacío para el pseudo-elemento ::before
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: var(--ion-color-primary); // Color de fondo cuando está seleccionado
    }
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; // Cambia el cursor para indicar que la etiqueta es seleccionable

    p {
      margin: 0; // Elimina márgenes por defecto de los párrafos
    }
  }
}

