ion-toolbar {
  background-color: var(--ion-color-primary);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.subscription-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px; /* Aumentar el padding inferior para dar espacio al final */
  width: 80%;
  max-width: 500px;
  margin: 30px auto; 
}

.card-title {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; // Mantiene un margen en la parte inferior para cada item
}

.label-title, .ion-text-wrap {
  white-space: nowrap; // Previene que los elementos se rompan en múltiples líneas
  overflow: hidden; // Mantiene el contenido dentro de sus límites
  text-overflow: ellipsis; // Añade puntos suspensivos si el texto es muy largo
}

.label-title {
  font-weight: normal;
  text-align: left; // Alinea el texto a la izquierda
  margin-right: 10px; // Añade margen a la derecha para separar de los valores
  font-size: 1.5rem; // Tamaño de la fuente para las etiquetas
  flex: 0 0 auto; // Evita que el elemento crezca o se encoja, y usa su contenido para definir su tamaño
}

.ion-text-wrap {
  display: flex; // Habilita flexbox
  justify-content: center; // Centra el contenido horizontalmente
  align-items: center; // Centra el contenido verticalmente
  padding: 10px;
  background-color: #f9f6f6;
  border-radius: 4px;
  font-size: 1rem;
  height: 50px; // Altura fija para todos los ion-text-wrap
  margin-top: 20px; // 
  flex-grow: 1; // Permite que los contenedores crezcan y se ajusten al mismo tamaño
  
}



.custom-header ion-title {
  color: white;
}

.centrar2 {
  position: relative;
  text-align: center;
}

.logo3 {
  position: absolute;
  top: 25%;
  left: 8%;
}

.metodos-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px; /* Aumentar el padding inferior para dar espacio al final */
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
}

.payment-buttons-container {
  display: flex;
  justify-content: space-around; // Esto separará los botones uniformemente
  margin-top: 20px; // Espacio adicional arriba de los botones si es necesario

  ion-button {
    margin-right: 20px; // Espacio entre los botones

    &:last-child {
      margin-right: 0; // Asegurarse de que el último botón no tenga margen a la derecha
    }
  }
}

.infoplanes-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px; /* Aumentar el padding inferior para dar espacio al final */
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
}

//... (resto del código SCSS)

.infoplanes-card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center; // Alinea los elementos hijos al centro

  .card-title {
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 20px;
  }

  ion-label {
    font-size: 1.2rem; // Ajusta este valor según lo necesites
    margin-bottom: 10px; // Añade un margen en la parte inferior para separar los elementos
    font-style: italic; // Esto pondrá el texto en cursiva
    &:last-child {
      margin-bottom: 0; // Asegura que el último elemento no tenga margen extra en la parte inferior
    }
  }
}


