<div class="ion-page" id="main-content">
  <ion-header class="custom-header">
    <ion-toolbar class="centrar2">
      <div class="logo3">
        <img src="../../../assets/fotos/logo3.png" height="40" alt="">
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="content">
    <script src="https://www.paypal.com/sdk/js?client-id=AeHcD0RMUXJX5x0NpSuhBehcxjgHpBEuAdPzK5BJlrZI_3SRSznrXC32VVNNIr-LJUHfWTrlDFTxnAS5&currency=USD"></script>
    
<div class="subscription-card">
      <div class="card-title">Datos de tu Plan</div>
      
      <div class="info-container"> 
        <div class="info-item">
          <ion-label class="label-title" position="stacked">Contador:</ion-label>
          <ion-label class="ion-text-wrap">{{ formattedTrialStartDate }}</ion-label>
        </div>
        
          <div class="info-item">
            <ion-label class="label-title" position="stacked">Nombre:</ion-label>
            <ion-label class="ion-text-wrap">{{ info?.planType }}</ion-label>
          </div>
        
        <div class="info-item">
          <ion-label class="label-title" position="stacked">Inicio:</ion-label>
          <ion-label class="ion-text-wrap">{{ formattedstartDate }}</ion-label>
        </div>
        
        <div class="info-item">
          <ion-label class="label-title" position="stacked">Fin:</ion-label>
          <ion-label class="ion-text-wrap">{{ formattedexpiryDate }}</ion-label>
        </div>

        

        <div class="centrar">
          <ion-button>Anular Suscripción</ion-button>
        </div>

      </div>
    </div>

    <div class="card-selection">
      <div class="card-selection-title">Elige la opción de pago mas cómoda para ti</div>
      <div class="plan-options">
        <div class="option">
          <input type="radio" id="monthlyPlan" name="subscriptionPlan" value="monthly" (change)="selectPlan('PLAN MENSUAL', 'monthly')">
          <label for="monthlyPlan">MENSUAL<br>$690</label>
        </div>
        <div class="option">
          <input type="radio" id="semesterPlan" name="subscriptionPlan" value="semester" (change)="selectPlan('PLAN SEMESTRAL', 'semester')">
          <label for="semesterPlan">SEMESTRAL<br>$3.600</label>
        </div>
        <div class="option">
          <input type="radio" id="annualPlan" name="subscriptionPlan" value="annual" (change)="selectPlan('PLAN ANUAL', 'annual')">
          <label for="annualPlan">ANUAL<br>$6.500</label>
        </div>
      </div>
    </div>
    
    
    
    <div class="payment-card" [class.disabled]="!isPaymentCardEnabled">
      <div class="payment-card-title">{{ selectedPlanLabel }}</div>
      
      <div class="payment-options">
        <div class="payment-option">
          <input type="radio" id="paypalOption" name="paymentMethod" value="Paypal" [disabled]="!isPaymentCardEnabled">
          <label for="paypalOption">
            <div id="paypal-button-container"></div>
          </label>
        </div>
        <div class="payment-option">
          <input type="radio" id="webpayOption" name="paymentMethod" value="Webpay" [disabled]="!isPaymentCardEnabled">
          <label for="webpayOption">Webpay</label>
        </div>
      </div>
    </div>
  </ion-content> 

  <ion-footer>
    <ion-toolbar color="dark" style="justify-content: space-between;">
      <ion-buttons slot="start">
        <ion-button (click)="navigateTo('/main')">
          <ion-icon name="home-outline" style="font-size: 30px;"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <div style="display: flex; justify-content: center; align-items: center;">
        <ion-buttons slot="primary">
          <ion-button (click)="navigateTo('/buscar')">
            <ion-icon name="search-outline" style="font-size: 30px;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
  
      <ion-buttons slot="end">
        <ion-button (click)="navigateTo('/perfil')">
          <ion-icon name="person-outline" style="font-size: 30px;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</div>
